<h1>Editing Job Seeker</h1>

<%= render 'form', job_seeker: @job_seeker %>
<br/>
<%= link_to 'Show', @job_seeker, class: 'btn btn-secondary' %> |
<%= link_to 'Back', job_seekers_path, class: 'btn btn-secondary' %>
